<!DOCTYPE html>

<html>
<head>

    <title>@ViewBag.Title</title>
    <partial name="_MetaTags" />
    <partial name="_Styles" />
</head>
<body>
    <div>
        @RenderBody()

        <partial name="_Footer" />
    </div>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.validate.unobtrusive.js"></script>
</body>
</html>
