<!DOCTYPE html>

<html>
<head>

    <title>@ViewBag.Title</title>
    <partial name="_MetaTags" />
    <partial name="_Styles" />
</head>
<body>
    <div>
        @RenderBody()

        <partial name="_Footer" />
    </div>
</body>
</html>
